Things


The vegitables are fresh 

The vegitables are rotten (azugiduchu) 

a rotten egg


The butter milk is sour 
sore -> (kayam )

The clothes are wet


Tender ( ilamai)

tender skin

Tender exact change ( sariana sillarai tharavum )

advise - > verb 
advice -> noun => 



adverb 

He is    very    angry 

       adverb     adjective
       
       

       
       MAIN VERB 
       
       
       
       
he is terribly angry   = > terribly -> adverbe 

i am very happy 

i am extremely happy


i went inside 

i boldly went inside  = BOLDLY -> MAIN VERB 


he came late 
he purposely came late -> venumne late varan avan 


slow - slowly 
fast -  fast 
hard - hardly 


he works hard - (kadinamaga work pandrar)

he hardly || seldom  works  - > (rare eh than work pandraga)

late - lateaaga
letly -  recently - ipo nadanthathuu 



dont feel shy 

feel at home, please 

help yourself please 


Buffet  - (bufee t is silent )



 what are you doing now ? 
im between jobs -(unemployed seeking jobs )
at precent , im unemployee

How is your uncle ?

he is up and abont - he is started moving around after sevior illness ( he is recover )



When is the last bus ?
where is the last bus ?  








      
      
